In [ ]:
!pip install python-weather

In [ ]:
cd /content/drive/MyDrive

/content/drive/MyDrive

In [ ]:
!pwd

/content/drive/MyDrive

In [ ]:
import requests
import zipfile
import io

# URL of the ZIP file
url = "https://www.cdc.gov/brfss/annual_data/2023/files/LLCP2023XPT.zip"

# Send a GET request to the URL
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Create a ZipFile object from the response content
    with zipfile.ZipFile(io.BytesIO(response.content)) as zip_ref:
        # Extract all contents to the current directory
        zip_ref.extractall()
        print("Download and extraction completed successfully.")
else:
    print(f"Failed to download the file. Status code: {response.status_code}")

Download and extraction completed successfully.

In [ ]:
import pandas as pd

# Read the .xpt file into a pandas DataFrame
df = pd.read_sas('/content/drive/MyDrive/LLCP2023.XPT ', format='xport')

# Display the first few rows
print(df.head())

   _STATE  FMONTH        IDATE IMONTH   IDAY    IYEAR  DISPCODE  \
0     1.0     1.0  b'03012023'  b'03'  b'01'  b'2023'    1100.0
1     1.0     1.0  b'01062023'  b'01'  b'06'  b'2023'    1100.0
2     1.0     1.0  b'03082023'  b'03'  b'08'  b'2023'    1100.0
3     1.0     1.0  b'03062023'  b'03'  b'06'  b'2023'    1100.0
4     1.0     1.0  b'01062023'  b'01'  b'06'  b'2023'    1100.0

           SEQNO          _PSU  CTELENM1  ...      DROCDY4_  _RFBING6  \
0  b'2023000001'  2.023000e+09       1.0  ...  5.397605e-79       1.0
1  b'2023000002'  2.023000e+09       1.0  ...  5.397605e-79       1.0
2  b'2023000003'  2.023000e+09       1.0  ...  5.397605e-79       1.0
3  b'2023000004'  2.023000e+09       1.0  ...  5.397605e-79       1.0
4  b'2023000005'  2.023000e+09       1.0  ...  7.000000e+00       1.0

       _DRNKWK2  _RFDRHV8  _FLSHOT7  _PNEUMO3  _AIDTST4  _RFSEAT2  _RFSEAT3  \
0  5.397605e-79       1.0       2.0       2.0       2.0       1.0       1.0
1  5.397605e-79       1.0       1.0       1.0       2.0       1.0       1.0
2  5.397605e-79       1.0       1.0       1.0       2.0       1.0       1.0
3  5.397605e-79       1.0       1.0       1.0       1.0       1.0       1.0
4  4.700000e+01       1.0       2.0       1.0       2.0       1.0       1.0

   _DRNKDRV
0       9.0
1       9.0
2       9.0
3       9.0
4       2.0

[5 rows x 350 columns]

In [ ]:
print("Completed reading data!!")

Completed reading data!!

Transorming categories into actual values with help of codebook

In [ ]:
label_mappings = {
    'MENTHLTH': {
        88: 'None',
        77: "Don't know/Not sure",
        99: 'Refused'
    },
    'ADDEPEV3': {
        1: 'Yes',
        2: 'No',
        7: "Don't know/Not sure",
        9: 'Refused'
    },
    'GENHLTH': {
        1: 'Excellent',
        2: 'Very good',
        3: 'Good',
        4: 'Fair',
        5: 'Poor',
        7: "Don't know/Not Sure",
        9: 'Refused'
    },
    'INCOME3': {
        1: 'Less than $10,000',
        2: '$10,000 to <$15,000',
        3: '$15,000 to <$20,000',
        4: '$20,000 to <$25,000',
        5: '$25,000 to <$35,000',
        6: '$35,000 to <$50,000',
        7: '$50,000 to <$75,000',
        8: '$75,000 to <$100,000',
        9: '$100,000 to <$150,000',
        10: '$150,000 to <$200,000',
        11: '$200,000 or more',
        77: "Don't know/Not sure",
        99: 'Refused'
    },
    'EMPLOY1': {
        1: 'Employed for wages',
        2: 'Self-employed',
        3: 'Out of work â‰¥1 year',
        4: 'Out of work <1 year',
        5: 'Homemaker',
        6: 'Student',
        7: 'Retired',
        8: 'Unable to work',
        9: 'Refused'
    },
    'EDUCA': {
        1: 'Never attended school or only kindergarten',
        2: 'Grades 1-8 (Elementary)',
        3: 'Grades 9-11 (Some HS)',
        4: 'HS Graduate (Grade 12 or GED)',
        5: 'Some college or tech school',
        6: 'College graduate (4+ years)',
        9: 'Refused'
    },
    '_HLTHPL1': {
        1: 'Have insurance',
        2: 'No insurance',
        9: "Don't know/Refused/Missing"
    },
    '_SEX': {
        1: 'Male',
        2: 'Female'
    },
    '_AGEG5YR': {
        1: '18-24',
        2: '25-29',
        3: '30-34',
        4: '35-39',
        5: '40-44',
        6: '45-49',
        7: '50-54',
        8: '55-59',
        9: '60-64',
        10: '65-69',
        11: '70-74',
        12: '75-79',
        13: '80+',
        14: "Don't know/Refused/Missing"
    },
    '_RACEGR3': {
        1: 'White only, Non-Hispanic',
        2: 'Black only, Non-Hispanic',
        3: 'Other race only, Non-Hispanic',
        4: 'Multiracial, Non-Hispanic',
        5: 'Hispanic',
        9: "Don't know/Refused"
    },
    '_STATE' : {
    1: "Alabama",
    2: "Alaska",
    4: "Arizona",
    5: "Arkansas",
    6: "California",
    8: "Colorado",
    9: "Connecticut",
    10: "Delaware",
    11: "District of Columbia",
    12: "Florida",
    13: "Georgia",
    15: "Hawaii",
    16: "Idaho",
    17: "Illinois",
    18: "Indiana",
    19: "Iowa",
    20: "Kansas",
    22: "Louisiana",
    23: "Maine",
    24: "Maryland",
    25: "Massachusetts",
    26: "Michigan",
    27: "Minnesota",
    28: "Mississippi",
    29: "Missouri",
    30: "Montana",
    31: "Nebraska",
    32: "Nevada",
    33: "New Hampshire",
    34: "New Jersey",
    35: "New Mexico",
    36: "New York",
    37: "North Carolina",
    38: "North Dakota",
    39: "Ohio",
    40: "Oklahoma",
    41: "Oregon",
    44: "Rhode Island",
    45: "South Carolina",
    46: "South Dakota",
    47: "Tennessee",
    48: "Texas",
    49: "Utah",
    50: "Vermont",
    51: "Virginia",
    53: "Washington",
    54: "West Virginia",
    55: "Wisconsin",
    56: "Wyoming",
    66: "Guam",
    72: "Puerto Rico",
    78: "Virgin Islands"
  }

}

In [ ]:
columns_to_decode = list(label_mappings.keys())

for col in columns_to_decode:
    df[col] = df[col].replace(label_mappings[col])

In [ ]:
data = df[columns_to_decode]

In [ ]:
data.head()

,MENTHLTH,ADDEPEV3,GENHLTH,INCOME3,EMPLOY1,EDUCA,_HLTHPL1,_SEX,_AGEG5YR,_RACEGR3,_STATE
0,None,No,Very good,Refused,Retired,Some college or tech school,Have insurance,Female,80+,"White only, Non-Hispanic",Alabama
1,None,Yes,Very good,Refused,Retired,Some college or tech school,Have insurance,Female,80+,"White only, Non-Hispanic",Alabama
2,2.0,No,Fair,"$10,000 to <$15,000",Retired,HS Graduate (Grade 12 or GED),Have insurance,Female,80+,"Black only, Non-Hispanic",Alabama
3,None,Yes,Very good,Refused,Retired,Some college or tech school,Have insurance,Female,75-79,"White only, Non-Hispanic",Alabama
4,None,Yes,Fair,"$50,000 to <$75,000",Unable to work,Some college or tech school,Have insurance,Female,75-79,"White only, Non-Hispanic",Alabama

In [ ]:
print("Completed mapping lables!!")

Completed mapping lables!!

In [ ]:
data.shape

(433323, 11)

In [ ]:
data.isnull().sum()

MENTHLTH       3
ADDEPEV3       3
GENHLTH        4
INCOME3     8075
EMPLOY1     2968
EDUCA          9
_HLTHPL1       0
_SEX           0
_AGEG5YR       0
_RACEGR3      86
_STATE         0
dtype: int64

In [ ]:
len(data['_STATE'].unique())

52

# Getting Weather Data

In [ ]:
import requests
import json
import csv
from datetime import datetime, timedelta

# Define API key and base URL
API_KEY = "d4175b0c17b641b3ba442529252204"
BASE_URL = "https://api.worldweatheronline.com/premium/v1/past-weather.ashx"

# Define states
states = {
    1: "Alabama",
    2: "Alaska",
    4: "Arizona",
    5: "Arkansas",
    6: "California",
    8: "Colorado",
    9: "Connecticut",
    10: "Delaware",
    11: "District of Columbia",
    12: "Florida",
    13: "Georgia",
    15: "Hawaii",
    16: "Idaho",
    17: "Illinois",
    18: "Indiana",
    19: "Iowa",
    20: "Kansas",
    22: "Louisiana",
    23: "Maine",
    24: "Maryland",
    25: "Massachusetts",
    26: "Michigan",
    27: "Minnesota",
    28: "Mississippi",
    29: "Missouri",
    30: "Montana",
    31: "Nebraska",
    32: "Nevada",
    33: "New Hampshire",
    34: "New Jersey",
    35: "New Mexico",
    36: "New York",
    37: "North Carolina",
    38: "North Dakota",
    39: "Ohio",
    40: "Oklahoma",
    41: "Oregon",
    44: "Rhode Island",
    45: "South Carolina",
    46: "South Dakota",
    47: "Tennessee",
    48: "Texas",
    49: "Utah",
    50: "Vermont",
    51: "Virginia",
    53: "Washington",
    54: "West Virginia",
    55: "Wisconsin",
    56: "Wyoming",
    66: "Guam",
    72: "Puerto Rico",
    78: "Virgin Islands"
}

# Define date range
end_date = datetime.today()
start_date = end_date - timedelta(days=7)

# Create CSV file
with open('weather_data.csv', 'w', newline='') as csvfile:
    fieldnames = ['State', 'Date', 'Temperature (C)', 'Wind Speed (km/h)', 'Humidity (%)', 'Weather Type']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()

    for state_id, state_name in states.items():
        params = {
            "q": state_name,
            "date": start_date.strftime('%Y-%m-%d'),
            "enddate": end_date.strftime('%Y-%m-%d'),
            "tp": "24",
            "format": "json",
            "key": API_KEY
        }

        response = requests.get(BASE_URL, params=params)
        data = response.json()

        if 'data' in data and 'weather' in data['data']:
            for weather_data in data['data']['weather']:
                writer.writerow({
                    'State': state_name,
                    'Date': weather_data['date'],
                    'Temperature (C)': weather_data['avgtempC'],
                    'Wind Speed (km/h)': weather_data.get('hourly', [{}])[0].get('windspeedKmph', ''),
                    'Humidity (%)': weather_data.get('hourly', [{}])[0].get('humidity', ''),
                    'Weather Type': weather_data.get('hourly', [{}])[0].get('weatherDesc', [''])[0]['value']
                })
        else:
            print(f"No weather data found for {state_name}")

print("Weather data CSV file generated successfully.")

In [ ]:
df_weather = pd.read_csv('/content/weather_data.csv')

In [ ]:
df_weather.head()

,State,Date,Temperature (C),Wind Speed (km/h),Humidity (%),Weather Type
0,Alabama,2025-04-15,6,31,87,Patchy rain possible
1,Alabama,2025-04-16,1,29,79,Light freezing rain
2,Alabama,2025-04-17,4,14,62,Sunny
3,Alabama,2025-04-18,13,17,65,Moderate rain at times
4,Alabama,2025-04-19,16,27,82,Moderate or heavy rain shower

In [ ]:
df_weather.shape

(416, 6)

Pivoting Weather Data

In [ ]:
# Create a new column index combining Date and weather type
df_weather['Date'] = pd.to_datetime(df_weather['Date'])
df_weather['Date_str'] = df_weather['Date'].dt.strftime('%Y-%m-%d')

# Pivot table to wide format
df_weather_pivot = df_weather.pivot_table(
    index='State',
    columns='Date_str',
    values=['Temperature (C)', 'Wind Speed (km/h)', 'Humidity (%)', 'Weather Type'],
    aggfunc='first'
)

# Flatten multi-level column names
df_weather_pivot.columns = [f"{col[1]}_{col[0]}" for col in df_weather_pivot.columns]
df_weather_pivot.reset_index(inplace=True)

In [ ]:
df_weather_pivot.head()

,State,2025-04-15_Humidity (%),2025-04-16_Humidity (%),2025-04-17_Humidity (%),2025-04-18_Humidity (%),2025-04-19_Humidity (%),2025-04-20_Humidity (%),2025-04-21_Humidity (%),2025-04-22_Humidity (%),2025-04-15_Temperature (C),...,2025-04-21_Weather Type,2025-04-22_Weather Type,2025-04-15_Wind Speed (km/h),2025-04-16_Wind Speed (km/h),2025-04-17_Wind Speed (km/h),2025-04-18_Wind Speed (km/h),2025-04-19_Wind Speed (km/h),2025-04-20_Wind Speed (km/h),2025-04-21_Wind Speed (km/h),2025-04-22_Wind Speed (km/h)
0,Alabama,87,79,62,65,82,68,63,78,6,...,Light rain shower,Overcast,31,29,14,17,27,12,22,25
1,Alaska,49,46,53,59,59,62,60,66,29,...,Sunny,Patchy rain possible,22,32,11,7,8,8,7,8
2,Arizona,82,87,84,77,78,82,81,84,24,...,Patchy rain possible,Light rain shower,6,7,10,10,8,8,9,8
3,Arkansas,49,55,74,75,93,91,76,67,13,...,Mist,Sunny,10,27,34,24,21,20,15,24
4,California,41,51,72,66,25,41,47,41,19,...,Partly cloudy,Sunny,13,25,25,18,10,11,12,16

In [ ]:
df_weather_pivot.shape

(52, 33)

In [ ]:
if '_STATE' in data.columns:
    data = data.rename(columns={'_STATE': 'State'})

In [ ]:
df_final = pd.merge(data, df_weather_pivot, on='State', how='left')

The Final Data merged with weather data

In [ ]:
df_final.head()

,MENTHLTH,ADDEPEV3,GENHLTH,INCOME3,EMPLOY1,EDUCA,_HLTHPL1,_SEX,_AGEG5YR,_RACEGR3,...,2025-04-21_Weather Type,2025-04-22_Weather Type,2025-04-15_Wind Speed (km/h),2025-04-16_Wind Speed (km/h),2025-04-17_Wind Speed (km/h),2025-04-18_Wind Speed (km/h),2025-04-19_Wind Speed (km/h),2025-04-20_Wind Speed (km/h),2025-04-21_Wind Speed (km/h),2025-04-22_Wind Speed (km/h)
0,None,No,Very good,Refused,Retired,Some college or tech school,Have insurance,Female,80+,"White only, Non-Hispanic",...,Light rain shower,Overcast,31,29,14,17,27,12,22,25
1,None,Yes,Very good,Refused,Retired,Some college or tech school,Have insurance,Female,80+,"White only, Non-Hispanic",...,Light rain shower,Overcast,31,29,14,17,27,12,22,25
2,2.0,No,Fair,"$10,000 to <$15,000",Retired,HS Graduate (Grade 12 or GED),Have insurance,Female,80+,"Black only, Non-Hispanic",...,Light rain shower,Overcast,31,29,14,17,27,12,22,25
3,None,Yes,Very good,Refused,Retired,Some college or tech school,Have insurance,Female,75-79,"White only, Non-Hispanic",...,Light rain shower,Overcast,31,29,14,17,27,12,22,25
4,None,Yes,Fair,"$50,000 to <$75,000",Unable to work,Some college or tech school,Have insurance,Female,75-79,"White only, Non-Hispanic",...,Light rain shower,Overcast,31,29,14,17,27,12,22,25

In [ ]:
print("Completed merging with weather data!!")

Completed merging with weather data!!

# Transform

In [ ]:
for column in df_final.columns:
    unique_vals = df_final[column].unique()
    print(f"\nColumn: {column}")
    print(f"Unique values ({len(unique_vals)}): {unique_vals[:10]}{'...' if len(unique_vals) > 10 else ''}")

Column: MENTHLTH
Unique values (34): ['None' 2.0 3.0 "Don't know/Not sure" 10.0 25.0 5.0 30.0 20.0 15.0]...

Column: ADDEPEV3
Unique values (5): ['No' 'Yes' "Don't know/Not sure" 'Refused' nan]

Column: GENHLTH
Unique values (8): ['Very good' 'Fair' 'Good' 'Poor' 'Excellent' "Don't know/Not Sure"
 'Refused' nan]

Column: INCOME3
Unique values (14): ['Refused' '$10,000 to <$15,000' '$50,000 to <$75,000'
 '$35,000 to <$50,000' '$100,000 to <$150,000' '$15,000 to <$20,000'
 "Don't know/Not sure" '$25,000 to <$35,000' '$20,000 to <$25,000'
 'Less than $10,000']...

Column: EMPLOY1
Unique values (10): ['Retired' 'Unable to work' 'Out of work <1 year' 'Employed for wages'
 'Homemaker' 'Self-employed' nan 'Refused' 'Student' 'Out of work â‰¥1 year']

Column: EDUCA
Unique values (8): ['Some college or tech school' 'HS Graduate (Grade 12 or GED)'
 'College graduate (4+ years)' 'Grades 9-11 (Some HS)'
 'Grades 1-8 (Elementary)' 'Refused'
 'Never attended school or only kindergarten' nan]

Column: _HLTHPL1
Unique values (3): ['Have insurance' 'No insurance' "Don't know/Refused/Missing"]

Column: _SEX
Unique values (2): ['Female' 'Male']

Column: _AGEG5YR
Unique values (14): ['80+' '75-79' '60-64' '55-59' '65-69' '70-74' '45-49' '35-39' '40-44'
 '50-54']...

Column: _RACEGR3
Unique values (7): ['White only, Non-Hispanic' 'Black only, Non-Hispanic'
 "Don't know/Refused" 'Other race only, Non-Hispanic'
 'Multiracial, Non-Hispanic' 'Hispanic' nan]

Column: State
Unique values (52): ['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'District of Columbia' 'Florida']...

Column: 2025-04-15_Humidity (%)
Unique values (35): [87 49 82 41 56 68 75 90 73 54]...

Column: 2025-04-16_Humidity (%)
Unique values (27): [79 46 87 55 51 43 60 63 57 82]...

Column: 2025-04-17_Humidity (%)
Unique values (28): [62 53 84 74 72 22 55 51 80 68]...

Column: 2025-04-18_Humidity (%)
Unique values (32): [65 59 77 75 66 81 58 53 62 76]...

Column: 2025-04-19_Humidity (%)
Unique values (33): [82 59 78 93 25 84 80 83 61 51]...

Column: 2025-04-20_Humidity (%)
Unique values (36): [68 62 82 91 41 51 54 75 58 90]...

Column: 2025-04-21_Humidity (%)
Unique values (32): [63 60 81 76 47 36 55 78 64 89]...

Column: 2025-04-22_Humidity (%)
Unique values (30): [78 66 84 67 41 36 74 87 69 79]...

Column: 2025-04-15_Temperature (C)
Unique values (23): [ 6 29 24 13 19  9 12  8 15 23]...

Column: 2025-04-16_Temperature (C)
Unique values (23): [ 1 29 23 17 16 14  6  9  7 15]...

Column: 2025-04-17_Temperature (C)
Unique values (22): [ 4 29 25 23 12  8  9 11 22 14]...

Column: 2025-04-18_Temperature (C)
Unique values (23): [13 29 25 19 -1 11 17 16 22 12]...

Column: 2025-04-19_Temperature (C)
Unique values (22): [16 28 25  8 14 -3 18 22 12  6]...

Column: 2025-04-20_Temperature (C)
Unique values (24): [ 6 27 25 11 17  4 14 13 19 20]...

Column: 2025-04-21_Temperature (C)
Unique values (22): [11 26 13 17 10 15 20 14  7 12]...

Column: 2025-04-22_Temperature (C)
Unique values (23): [ 8 28 26 19 18 12 15 13 17 14]...

Column: 2025-04-15_Weather Type
Unique values (8): ['Patchy rain possible' 'Sunny' 'Partly cloudy' 'Overcast'
 'Moderate rain at times' 'Moderate or heavy rain shower' 'Cloudy'
 'Heavy rain at times']

Column: 2025-04-16_Weather Type
Unique values (8): ['Light freezing rain' 'Sunny' 'Moderate or heavy rain shower' 'Overcast'
 'Patchy rain possible' 'Partly cloudy' 'Heavy rain at times' 'Cloudy']

Column: 2025-04-17_Weather Type
Unique values (8): ['Sunny' 'Heavy rain at times' 'Cloudy' 'Patchy rain possible'
 'Partly cloudy' 'Moderate or heavy rain shower' 'Overcast'
 'Moderate rain at times']

Column: 2025-04-18_Weather Type
Unique values (9): ['Moderate rain at times' 'Overcast' 'Patchy rain possible' 'Sunny'
 'Patchy moderate snow' 'Cloudy' 'Moderate or heavy rain shower'
 'Partly cloudy' 'Heavy rain at times']

Column: 2025-04-19_Weather Type
Unique values (8): ['Moderate or heavy rain shower' 'Partly cloudy' 'Moderate rain at times'
 'Sunny' 'Light freezing rain' 'Overcast' 'Patchy rain possible' 'Cloudy']

Column: 2025-04-20_Weather Type
Unique values (8): ['Partly cloudy' 'Sunny' 'Patchy rain possible'
 'Moderate or heavy rain shower' 'Overcast' 'Moderate rain at times'
 'Cloudy' 'Heavy rain at times']

Column: 2025-04-21_Weather Type
Unique values (16): ['Light rain shower' 'Sunny' 'Patchy rain possible' 'Mist' 'Partly cloudy'
 'Overcast' 'Patchy light rain with thunder' 'Heavy rain at times'
 'Cloudy' 'Moderate or heavy rain with thunder']...

Column: 2025-04-22_Weather Type
Unique values (15): ['Overcast' 'Patchy rain possible' 'Light rain shower' 'Sunny'
 'Moderate rain' 'Mist' 'Patchy light rain with thunder' 'Partly cloudy'
 'Cloudy' 'Fog']...

Column: 2025-04-15_Wind Speed (km/h)
Unique values (27): [31 22  6 10 13 19 29  8  5 27]...

Column: 2025-04-16_Wind Speed (km/h)
Unique values (25): [29 32  7 27 25  9 18 21 26 11]...

Column: 2025-04-17_Wind Speed (km/h)
Unique values (24): [14 11 10 34 25 17 20  7 12 15]...

Column: 2025-04-18_Wind Speed (km/h)
Unique values (25): [17  7 10 24 18 12 14 28  9 21]...

Column: 2025-04-19_Wind Speed (km/h)
Unique values (20): [27  8 21 10  9 22 18  6 15 11]...

Column: 2025-04-20_Wind Speed (km/h)
Unique values (19): [12  8 20 11  7 18 16  4  9 22]...

Column: 2025-04-21_Wind Speed (km/h)
Unique values (22): [22  7  9 15 12 14 27 11  4  5]...

Column: 2025-04-22_Wind Speed (km/h)
Unique values (19): [25  8 24 16 10 14 11 12  4  6]...

In [ ]:
print(f"Original rows before removing unwanted rows: {len(df_final)}")

Original rows before removing unwanted rows: 433323

In [ ]:
# Define unwanted values
unwanted_values = [
    "Don't know/Not sure",
    "Refused",
    "Don't know/Refused/Missing",
    "Don't know/Refused"
]

# Remove rows containing any of the unwanted values in any column
df_final = df_final[~df_final.apply(lambda row: row.astype(str).isin(unwanted_values).any(), axis=1)].reset_index(drop=True)

# Preview cleaned data
print("Completed removing unwanted rows like Don't know/Not sure,Refused,Don't know/Refused/MissingDon't know/Refused!!")
print(f"No.of rows of after removing unwanted rows: {len(df_final)}")

Completed removing unwanted rows like Don't know/Not sure,Refused,Don't know/Refused/MissingDon't know/Refused!!
No.of rows of after removing unwanted rows: 328989

In [ ]:
df_final.isnull().sum()

MENTHLTH                           0
ADDEPEV3                           0
GENHLTH                            1
INCOME3                         6597
EMPLOY1                         2368
EDUCA                              2
_HLTHPL1                           0
_SEX                               0
_AGEG5YR                           0
_RACEGR3                          57
State                              0
2025-04-15_Humidity (%)            0
2025-04-16_Humidity (%)            0
2025-04-17_Humidity (%)            0
2025-04-18_Humidity (%)            0
2025-04-19_Humidity (%)            0
2025-04-20_Humidity (%)            0
2025-04-21_Humidity (%)            0
2025-04-22_Humidity (%)            0
2025-04-15_Temperature (C)         0
2025-04-16_Temperature (C)         0
2025-04-17_Temperature (C)         0
2025-04-18_Temperature (C)         0
2025-04-19_Temperature (C)         0
2025-04-20_Temperature (C)         0
2025-04-21_Temperature (C)         0
2025-04-22_Temperature (C)         0
2025-04-15_Weather Type            0
2025-04-16_Weather Type            0
2025-04-17_Weather Type            0
2025-04-18_Weather Type            0
2025-04-19_Weather Type            0
2025-04-20_Weather Type            0
2025-04-21_Weather Type            0
2025-04-22_Weather Type            0
2025-04-15_Wind Speed (km/h)       0
2025-04-16_Wind Speed (km/h)       0
2025-04-17_Wind Speed (km/h)       0
2025-04-18_Wind Speed (km/h)       0
2025-04-19_Wind Speed (km/h)       0
2025-04-20_Wind Speed (km/h)       0
2025-04-21_Wind Speed (km/h)       0
2025-04-22_Wind Speed (km/h)       0
dtype: int64

Dropping rows with null values in columns EMPLOY1,RACEGR3,EDUCA,GENHLTH

In [ ]:
df_final = df_final.dropna(subset=["EMPLOY1", "_RACEGR3", "EDUCA", "GENHLTH"])

In [ ]:
print("Completed removing rows with null values in columns like employ,racegr3,education and genhlth!!")

Completed removing rows with null values in columns like employ,racegr3,education and genhlth!!

In [ ]:
df_final.isnull().sum()

MENTHLTH                           0
ADDEPEV3                           0
GENHLTH                            0
INCOME3                         4232
EMPLOY1                            0
EDUCA                              0
_HLTHPL1                           0
_SEX                               0
_AGEG5YR                           0
_RACEGR3                           0
State                              0
2025-04-15_Humidity (%)            0
2025-04-16_Humidity (%)            0
2025-04-17_Humidity (%)            0
2025-04-18_Humidity (%)            0
2025-04-19_Humidity (%)            0
2025-04-20_Humidity (%)            0
2025-04-21_Humidity (%)            0
2025-04-22_Humidity (%)            0
2025-04-15_Temperature (C)         0
2025-04-16_Temperature (C)         0
2025-04-17_Temperature (C)         0
2025-04-18_Temperature (C)         0
2025-04-19_Temperature (C)         0
2025-04-20_Temperature (C)         0
2025-04-21_Temperature (C)         0
2025-04-22_Temperature (C)         0
2025-04-15_Weather Type            0
2025-04-16_Weather Type            0
2025-04-17_Weather Type            0
2025-04-18_Weather Type            0
2025-04-19_Weather Type            0
2025-04-20_Weather Type            0
2025-04-21_Weather Type            0
2025-04-22_Weather Type            0
2025-04-15_Wind Speed (km/h)       0
2025-04-16_Wind Speed (km/h)       0
2025-04-17_Wind Speed (km/h)       0
2025-04-18_Wind Speed (km/h)       0
2025-04-19_Wind Speed (km/h)       0
2025-04-20_Wind Speed (km/h)       0
2025-04-21_Wind Speed (km/h)       0
2025-04-22_Wind Speed (km/h)       0
dtype: int64

Filling null values of income column with mode

In [ ]:
# Calculate mode (most common value)
income_mode = df_final['INCOME3'].mode()[0]
print("Mode of income column is",income_mode)

# Fill null values with mode
df_final['INCOME3'].fillna(income_mode, inplace=True)
print("Completed filling null values of income column with mode!!")

Mode of income column is $50,000 to <$75,000
Completed filling null values of income column with mode!!

<ipython-input-61-d4adcc73a7f1>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_final['INCOME3'].fillna(income_mode, inplace=True)

In [ ]:
df_final.isnull().sum()

MENTHLTH                        0
ADDEPEV3                        0
GENHLTH                         0
INCOME3                         0
EMPLOY1                         0
EDUCA                           0
_HLTHPL1                        0
_SEX                            0
_AGEG5YR                        0
_RACEGR3                        0
State                           0
2025-04-15_Humidity (%)         0
2025-04-16_Humidity (%)         0
2025-04-17_Humidity (%)         0
2025-04-18_Humidity (%)         0
2025-04-19_Humidity (%)         0
2025-04-20_Humidity (%)         0
2025-04-21_Humidity (%)         0
2025-04-22_Humidity (%)         0
2025-04-15_Temperature (C)      0
2025-04-16_Temperature (C)      0
2025-04-17_Temperature (C)      0
2025-04-18_Temperature (C)      0
2025-04-19_Temperature (C)      0
2025-04-20_Temperature (C)      0
2025-04-21_Temperature (C)      0
2025-04-22_Temperature (C)      0
2025-04-15_Weather Type         0
2025-04-16_Weather Type         0
2025-04-17_Weather Type         0
2025-04-18_Weather Type         0
2025-04-19_Weather Type         0
2025-04-20_Weather Type         0
2025-04-21_Weather Type         0
2025-04-22_Weather Type         0
2025-04-15_Wind Speed (km/h)    0
2025-04-16_Wind Speed (km/h)    0
2025-04-17_Wind Speed (km/h)    0
2025-04-18_Wind Speed (km/h)    0
2025-04-19_Wind Speed (km/h)    0
2025-04-20_Wind Speed (km/h)    0
2025-04-21_Wind Speed (km/h)    0
2025-04-22_Wind Speed (km/h)    0
dtype: int64

In [ ]:
df_final.head()

,MENTHLTH,ADDEPEV3,GENHLTH,INCOME3,EMPLOY1,EDUCA,_HLTHPL1,_SEX,_AGEG5YR,_RACEGR3,...,2025-04-21_Weather Type,2025-04-22_Weather Type,2025-04-15_Wind Speed (km/h),2025-04-16_Wind Speed (km/h),2025-04-17_Wind Speed (km/h),2025-04-18_Wind Speed (km/h),2025-04-19_Wind Speed (km/h),2025-04-20_Wind Speed (km/h),2025-04-21_Wind Speed (km/h),2025-04-22_Wind Speed (km/h)
0,2.0,No,Fair,"$10,000 to <$15,000",Retired,HS Graduate (Grade 12 or GED),Have insurance,Female,80+,"Black only, Non-Hispanic",...,Light rain shower,Overcast,31,29,14,17,27,12,22,25
1,None,Yes,Fair,"$50,000 to <$75,000",Unable to work,Some college or tech school,Have insurance,Female,75-79,"White only, Non-Hispanic",...,Light rain shower,Overcast,31,29,14,17,27,12,22,25
2,3.0,No,Good,"$50,000 to <$75,000",Retired,Some college or tech school,Have insurance,Female,60-64,"Black only, Non-Hispanic",...,Light rain shower,Overcast,31,29,14,17,27,12,22,25
3,None,No,Good,"$35,000 to <$50,000",Retired,Some college or tech school,Have insurance,Female,80+,"Black only, Non-Hispanic",...,Light rain shower,Overcast,31,29,14,17,27,12,22,25
4,None,No,Good,"$50,000 to <$75,000",Retired,HS Graduate (Grade 12 or GED),Have insurance,Male,75-79,"White only, Non-Hispanic",...,Light rain shower,Overcast,31,29,14,17,27,12,22,25

In [ ]:
# Convert MENTHLTH to numeric, turning invalid values into NaN
df_final['MENTHLTH'] = pd.to_numeric(df_final['MENTHLTH'], errors='coerce')

# Now, apply the PoorMentalHealth feature engineering
df_final['PoorMentalHealth'] = df_final['MENTHLTH'].apply(lambda x: 1 if pd.notnull(x) and x >= 14 else 0)

In [ ]:
state_mental_health_pct = (
    df_final.groupby('State')['PoorMentalHealth']
    .mean()
    .mul(100)
    .round(2)
    .reset_index()
    .rename(columns={'PoorMentalHealth': 'PoorMentalHealthPct'})
)

In [ ]:
def categorize_mental_health(x):
    if pd.isnull(x):
        return "Unknown"
    elif x >= 14:
        return "High Distress"
    elif x >= 7:
        return "Moderate"
    else:
        return "Low"

df_final['MENTHLTH_Level'] = df_final['MENTHLTH'].apply(categorize_mental_health)

In [ ]:
print("Dataset shape after feature engineering",df_final.shape)

Dataset shape after feature engineering (326563, 45)

In [ ]:
df_final.head()

,MENTHLTH,ADDEPEV3,GENHLTH,INCOME3,EMPLOY1,EDUCA,_HLTHPL1,_SEX,_AGEG5YR,_RACEGR3,...,2025-04-15_Wind Speed (km/h),2025-04-16_Wind Speed (km/h),2025-04-17_Wind Speed (km/h),2025-04-18_Wind Speed (km/h),2025-04-19_Wind Speed (km/h),2025-04-20_Wind Speed (km/h),2025-04-21_Wind Speed (km/h),2025-04-22_Wind Speed (km/h),PoorMentalHealth,MENTHLTH_Level
0,2.0,No,Fair,"$10,000 to <$15,000",Retired,HS Graduate (Grade 12 or GED),Have insurance,Female,80+,"Black only, Non-Hispanic",...,31,29,14,17,27,12,22,25,0,Low
1,NaN,Yes,Fair,"$50,000 to <$75,000",Unable to work,Some college or tech school,Have insurance,Female,75-79,"White only, Non-Hispanic",...,31,29,14,17,27,12,22,25,0,Unknown
2,3.0,No,Good,"$50,000 to <$75,000",Retired,Some college or tech school,Have insurance,Female,60-64,"Black only, Non-Hispanic",...,31,29,14,17,27,12,22,25,0,Low
3,NaN,No,Good,"$35,000 to <$50,000",Retired,Some college or tech school,Have insurance,Female,80+,"Black only, Non-Hispanic",...,31,29,14,17,27,12,22,25,0,Unknown
4,NaN,No,Good,"$50,000 to <$75,000",Retired,HS Graduate (Grade 12 or GED),Have insurance,Male,75-79,"White only, Non-Hispanic",...,31,29,14,17,27,12,22,25,0,Unknown

In [ ]:
df_final.isnull().sum()

MENTHLTH                        193166
ADDEPEV3                             0
GENHLTH                              0
INCOME3                              0
EMPLOY1                              0
EDUCA                                0
_HLTHPL1                             0
_SEX                                 0
_AGEG5YR                             0
_RACEGR3                             0
State                                0
2025-04-15_Humidity (%)              0
2025-04-16_Humidity (%)              0
2025-04-17_Humidity (%)              0
2025-04-18_Humidity (%)              0
2025-04-19_Humidity (%)              0
2025-04-20_Humidity (%)              0
2025-04-21_Humidity (%)              0
2025-04-22_Humidity (%)              0
2025-04-15_Temperature (C)           0
2025-04-16_Temperature (C)           0
2025-04-17_Temperature (C)           0
2025-04-18_Temperature (C)           0
2025-04-19_Temperature (C)           0
2025-04-20_Temperature (C)           0
2025-04-21_Temperature (C)           0
2025-04-22_Temperature (C)           0
2025-04-15_Weather Type              0
2025-04-16_Weather Type              0
2025-04-17_Weather Type              0
2025-04-18_Weather Type              0
2025-04-19_Weather Type              0
2025-04-20_Weather Type              0
2025-04-21_Weather Type              0
2025-04-22_Weather Type              0
2025-04-15_Wind Speed (km/h)         0
2025-04-16_Wind Speed (km/h)         0
2025-04-17_Wind Speed (km/h)         0
2025-04-18_Wind Speed (km/h)         0
2025-04-19_Wind Speed (km/h)         0
2025-04-20_Wind Speed (km/h)         0
2025-04-21_Wind Speed (km/h)         0
2025-04-22_Wind Speed (km/h)         0
PoorMentalHealth                     0
MENTHLTH_Level                       0
dtype: int64

In [ ]:
df_final['MENTHLTH'] = df_final['MENTHLTH'].fillna(df_final['MENTHLTH'].median())

In [ ]:
df_final.to_csv('final_dataset.csv', index=False)